.register-container {
  background-image:
    url('https://cutewallpaper.org/23/blue-colour-wallpaper-hd/367314301.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  min-height: 768px;
  height: 100%;

  .register {
    padding: 10vh;

    .formdk {
      margin: auto;

      // margin-top: 60px;
      // margin-left: 35%;
      // margin-bottom: 70px;
      border-radius: 12px;
      border: solid white 3px;
      height: 720px;
      width: 500px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      /* align-items: center; */
      padding: 20px;
      background-color: white;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

      h2 {
        background-color: white;
        font-size: 30px;
        font-weight: bold;
        color: rgb(16, 188, 28);
        text-align: center;
        text-shadow: 2px 2px 5px rgb(8, 227, 110);
        padding: 10px;
        margin-top: 10px;
        margin-bottom: 30px;
        letter-spacing: 2px;
        border-bottom: 1px solid green;
      }

      .form-group {
        margin-bottom: 20px;

        label {
          display: block;
          font-weight: bold;
          margin-bottom: 5px;
        }

        button {
          background-color: #4CAF50;
          color: white;
          font-weight: bold;
          padding: 14px 20px;
          margin: 8px 0;
          width: 100%;
          border-radius: 6px;
          border: none;
          cursor: pointer;
          display: flex;
          justify-content: center;
        }

        button:hover {
          opacity: 0.8;
        }

        .psw {
          margin-left: 150px;
          margin-top: 20px;
        }

        input[type="text"],
        input[type="address"],
        input[type="password"] {
          width: 100%;
          padding: 10px 10px;
          font-size: 16px;
          display: inline-block;
          margin: 5px 0;
          border-radius: 4px;
          border: 1px solid #ccc;
          box-sizing: border-box;
        }

        input[type="radio"] {
          margin-right: 5px;
        }
      }

    }

    .error {
      color: red;
      font-size: 14px;
    }
  }
}